 .helloworld {
    background-image: linear-gradient(to bottom right, #020024, #00d4ff);
    height:100%;
    min-height:100%;
}

.revealStyling{ 
    border-radius:25px 25px 25px 25px!important;
}

 html{
     height:100%;
     width:100%;
     min-width:100%;
 }

.rounded_square_green_350_220_bottom {
    border-radius: 25% 25% 25% 25%;
    color: #25523B;
    background-color: #25523B;
    min-height: 100px;
    min-width: 100px;
    height: 100px;
    width: 100px;
    z-index: -2;
    position: relative;
    margin-top: 190px;
    margin-left: -20px;
}
.rounded_square_green_350_220_top {
    border-radius: 25% 25% 25% 25%;
    color: #25523B;
    background-color: #25523B;
    min-height: 100px;
    min-width: 100px;
    height: 100px;
    width: 100px;
    z-index: -1;
    position: relative;
}


 .border-box {
        border-radius: 25px 25px 25px 25px;
        padding: 10px;
    }
.border-box > h5{
    opacity:100%;
}

body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: #152238;
    color: #E5F5F8;
}

@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}
@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}
@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}
